
/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

.header-band {
    background-color: #93d0f4;   
    text-align: center;          
    padding: 18px 16px 18px;     
}


.header-band h1 {
    color: #fff;                
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;  
}

.header-band img {
    display: inline-block;       
    height: 120px;            
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 18px 0 8px;
}

table {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 16px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

a {
    color: #0079c1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    background-color: #93d0f4;
    text-align: center;
    padding: 10px 16px;
    color: #fff; 
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 12px;
}
